*{
    text-decoration:none;
    margin:0;
    padding:0;
}


.frame-wrapper{
    position:absolute;
    display:inline-block;
    height:2000px;
    
    
    text-align: center;
}

.sp-frame{
    position:relative;
    text-align:center;
    width:300px;
    margin:0 auto;
}




.map-wrapper{
    position: absolute;
}

.map{
    width:300px;
}



.move{
    position: absolute;
    display:inline-block;
    height:5px;
    /*=_____________________________________________ここの数値でズレを調整
    margin-top:300px;
    margin-left:300px
    */
}
.points1{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    
    margin-top:110px;
    margin-left:-20px;
}

.points2{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:200px;
    margin-left: -120px
    
}

.points3{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:240px;
    margin-left: -80px;
}

.points4{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:240px;
    margin-left: -40px;
    
    display:none;
}

.points5{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:240px;
    margin-left: -10px;
    
}


.points6{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:240px;
    margin-left: 20px;
    
}


.points7{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:240px;
    margin-left: 55px;
    
}

.points8{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:60px;
    
    margin-top:240px;
    margin-left: 90px;
    
}

.points9{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:260px;
    margin-left: 90px;
    
}

.points10{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:280px;
    margin-left: 90px;
    
}

.points11{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:300px;
    margin-left: 90px;
    
    display:none;
    
}

.points12{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:320px;
    margin-left: 90px;
    
}

.points13{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:380px;
    margin-left: 120px;
    
}

.points14{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:320px;
    margin-left: 170px;
    
}

.points15{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:50px;
    
    margin-top:200px;
    margin-left: 200px
    
}

.points16{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:60px;
    
    margin-top:140px;
    margin-left:200px
    
}

.points17{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:135px;
    margin-left: 90px;
    
}

.points18{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:135px;
    margin-left: 55px;
}

.points19{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:135px;
    margin-left: 25px;
    display:none;
}

.points20{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:135px;
    margin-left: 0px;
}

.points21{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:135px;
    margin-left: -30px;
    
    display:none;
}

.points22{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
    
    margin-top:70px;
    margin-left:30px;
}

.points23{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:50px;
    
    margin-top:100px;
    margin-left:200px;
}

.points24{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
}

.points25{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
}

.points26{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
}

.points27{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
}

.points28{
    position: absolute;
    display:inline-block;
    font-size:10px;
    line-height:9px;
    width:40px;
}

/*=_____________________________________________ゴミ詳細*/



.company{
    background-color: lightblue;
    padding:50px;
    text-align:center;
}

.discribe{
    margin:20px auto 200px auto;
    
    width:70%;
}

.discribe p{
  padding-bottom:30px;
}

.discribe p{
  text-align:center;
}

.discribe ul{
  padding:30px;
  background-color:lightyellow;
  text-align:center;
}



span{
    background-color: yellow;
}

footer{
    text-align:center;
    background-color: lightblue;
    padding:10px;
    color:white;
    font-size:7px;
}


