*{
    text-decoration:none;
    margin:0;
    padding:0;
}


.frame-wrapper{
    position:absolute;
    display:inline-block;
    height:2000px;
    
    
    text-align: center;
}

.sp-frame{
    position:relative;
    text-align:center;
    width:300px;
    margin:0 auto;
}




.map-wrapper{
    position: absolute;
}

.map{
    width:300px;
}



.move{
    position: absolute;
    display:inline-block;
    height:5px;
    margin-top:300px;
    margin-left:300px
}
.points1{
    position: absolute;
    display:inline-block;
    font-size:1px;
    line-height:9px;
    
    margin-top:75px;
    margin-left:-52px;
}

.points2{
    position: absolute;
    display:inline-block;
    font-size:1px;
    line-height:9px;
    
    margin-top:120px;
    margin-left: -110px
    
}

.points3{
    position: absolute;
    display:inline-block;
    font-size:1px;
    line-height:9px;
    
    
}

.points4{
    position: absolute;
    display:inline-block;
    font-size:1px;
    line-height:9px;
    
   
}


